<%- include('../partials/header') %>


<form action='/raw' method='POST' class="form-style">
    <label>SKU number:
        <input type='text' pattern='[A-Z][A-Z][0-9]{4,6}' name='SKUNumber'>
    </label>
    <label>SKU name:
        <input type='text' name='SKUName'>
    </label>
    <label>Status:
        <select name='status'>
            <option value='raw material'>Raw material</option>
            <option value='finished product'>Finished product</option>
        </select>
    </label>
    <label>Quantity:
        <input type='number' name='quantity'>
    </label>
    <label>Unit of measure:
        <select name='measureUnit'>
            <option value='grams'>grams</option>
            <option value='pieces'>pieces</option>
            <option value='millilitres'>millilitres</option>
        </select>
    </label>
    <label>Cost:
        <input type='number' step='0.01' min='0.01' name='purchaseCost'>
    </label>
    <label>Purchase date:
        <input type='date' name='purchaseDate'>
    </label>
    <label>Expiry date
        <input type='date' name='expiryDate'>
    </label>
    <input type='submit' value='Submit order' class='button'>
</form>


<%- include('../partials/footer') %>