<%- include('./partials/header') %>

<div class='index-links'>
    <a href='/purchases/new'>Enter a purchase order</a>
    <a href=''>Make food and drinks</a>
    <a href="">Record sale of products</a>
    <a href='/inventories'>Check warehouse</a>
    <a href="">View business results</a>
</div>

<%- include('./partials/footer') %>