<%- include('./partials/header') %>

<section class='index-links'>
    <a href='/purchases/new' class='index'>Enter a purchase order</a>
    <a href='/outputs/new' class='index'>Make food and drinks</a>
    <a href='/raw' class='index'>Check raw materials</a>
    <a href='/finished' class='index'>Check finished products</a>
    <a href='/financials' class='index'>View business results</a>
</section>

<%- include('./partials/footer') %>