<%- include('./partials/header') %>

<div class='index-links'>
    <a href='/purchases/new'>Enter a purchase order</a>
    <a href='/outputs/new'>Make food and drinks</a>
    <a href='/raw'>Check raw materials</a>
    <a href='/finished'>Check finished products</a>
    <a href='/financials'>View business results</a>
</div>

<%- include('./partials/footer') %>