<%- include('../partials/header') %>


<section class='show-details'>
    <div>SKU number: <%= SKUNumber %></div>
    <div>SKU name: <%= SKUName %></div>
</section>


<%- include('../partials/footer') %>