body {
    font: Tahoma, sans-serif;
    background-color: #FFF8E7;
    margin: 50px 0;
}

.title {
    color: #6C3B1C;
    text-align: center;
    padding: 20px 0 40px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
}

nav > a, links {
    color: #6C3B1C;
    font-size: 20px;
    font-weight: bold;
}

img {
    height: 50vh;
    width: 40vh;
    border-radius: 10%;
}

.index-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    border: 5px solid #CC5500;
    border-radius: 10%;
    height: 50vh;
    width: auto;
    padding: 10px 15px
}

.index {
    color: #CC5500;
    font-size: 20px;
    font-weight: bold;
}

.about {
    border: 5px solid #A67B5B;
    background-color: #A67B5B;
    border-radius: 10%;
    height: 23vh;
    width: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.button {
    padding: 10px 30px;
    border: 2px solid #CC5500;
    border-radius: 10%;
    margin: 15px 0 0 0;
}

h4 {
    color: black;
    font-size: 16px;
}

table {
    margin: 0 auto;
    font-size: 14px;
}

th, td {
    border: 2px solid #CC5500;
    padding: 5px 10px;
    text-align: left;
}

a {
    color: #6C3B1C;
}

.links {
    color: #6C3B1C;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    border: 2px solid #CC5500;
    border-radius: 10%;
    margin: 30px 0;
}