<%- include('../partials/header') %>

<table id='financials'>
    <thead>
        <tr>
            <th>Revenue</th>
            <th>Cost of materials</th>
            <th>Cost of labour</th>
            <th>Profit</th>
            <th>Units sold</th>
            <th>Average revenue per unit</th>
        </tr>
    </thead>
    <tbody>
        <% financials.forEach(function(i, index) { %>
            <tr>
                <td><%= revenue[index] %></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= i.salesQuantity %></td>    
                <td></td>
            </tr>
        <% }) %>
</table>


<%- include('../partials/footer') %>