<%- include('../partials/header') %>


<form action='/financials' method='POST' class="form-style">
    <label>SKU name
        <select name='SKUName'>
            <option><%= inventory.SKUName %></option>
        </select>
    </label>
    <label>Quantity:
        <input type='number' name='salesQuantity'>
    </label>
    <label>Price per unit:
        <input type='number' step='0.01' min='0.01' name='salesPrice'>
    </label>
    <label>Sales date:
        <input type='date' name='salesDate'>
    </label>
    <input type='submit' value='Finalise the sale' class='button'>
</form>


<%- include('../partials/footer') %>